{% extends 'base.html' %} {% load static %} {% block content %}

<div class="card w-100 mt-5 mb-5 bg-dark text-white">
  <div class="card-header text-success fw-bold">
    Adicionando Novo Jogador
  </div>
  <div class="card-body">
    <form action="./" method="POST">
      {{ form.as_p }} {% csrf_token %}
      <button type="submit" class="btn btn-success">Salvar</button>
    </form>
  </div>
</div>


<!--
<h1>Adicionado Jogador</h1>

<form action="" method="post">

    {% csrf_token %}

    {{form.as_p}}
    
    <input type="submit" class="btn btn-sucesses" style="margin-top: 10px;" value="Salvar" > 

</form>
-->

{% endblock content %}