{% extends 'base.html' %} {% load static %} {% block content %}



<div class="card mb-3 mt-4 bg-dark text-white p-3">
  <div class="card-body">
    <div class="row justify-content-center ">
        <div class="col-md-12 position-relative">
          <img
            class="mb-3 card-img border border-success border-5"
            src="{{jogador.fotoCapa_path}}"
            alt="Card image cap"
          />
        </div>
      </div>
      
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="card-title text-success"> Nota: --- <i class="fas fa-star"></i></h5>
        <a href="#" class="btn btn-success">Avaliar</a>
      </div>
      <h5 class="card-title ">{{jogador.nome_jogador}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Jogador de futebol da {{jogador.nacionalidade}}</h6>
    <p class="card-text">
      {{jogador.descricao}}
    </p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item bg-dark"></li>
      <li class="list-group-item bg-dark text-white">Nascimento: --- </li>
      <li class="list-group-item bg-dark text-white">Clube atual: --- </li>
      <li class="list-group-item bg-dark text-white">Nacionalidade: {{jogador.nacionalidade}}</li>
      <li class="list-group-item bg-dark text-white">Altura: {{jogador.altura}}</li>
      <li class="list-group-item bg-dark text-white mb-4">Pé: {{jogador.melhor_pe}}</li>  
    </ul>
    <div class="card-footer d-flex align-items-center justify-content-between">
      <div class="form-group w-100">
        <label for="exampleFormControlTextarea1">Adicionar Comentario</label>
        <textarea class="form-control w-100" id="exampleFormControlTextarea1" rows="3" ></textarea>
        <a href="#" class="btn btn-success mt-1">Comentar</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
