{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex justify-content-center">
        <div class="card mt-4" style="width: 20rem;">
            <img class="card-img-top border border-success border-1" src="{% static 'imgs/CR7.png' %}" alt="Card image cap" style="height: 300px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Caça Rato - CR7</h5>
                <h6 class="card-subtitle mb-2 text-success">99/10 <i class="fas fa-star"></i></h6>
                <p class="card-text">Flávio Augusto do Nascimento, mais conhecido como Flávio Caça-Rato, ou simplesmente Caça-Rato, é um futebolista brasileiro que atua como atacante. Atualmente, joga pelo Atlético Torres.</p>
                <a href="#" class="btn btn-success">Detalhar</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex justify-content-center">
        <div class="card mt-4" style="width: 20rem;">
            <img class="card-img-top border border-success border-1" src="{% static 'imgs/HAALAND.png' %}" alt="Card image cap" style="height: 300px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Erling Haaland</h5>
                <h6 class="card-subtitle mb-2 text-success">8,5/10 <i class="fas fa-star"></i></h6>
                <p class="card-text">Erling Braut Haaland é um futebolista norueguês nascido no Reino Unido que atua como centroavante. Atualmente joga pelo Manchester City e pela Seleção Norueguesa.</p>
                <a href="#" class="btn btn-success">Detalhar</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex justify-content-center">
        <div class="card mt-4" style="width: 20rem;">
            <img class="card-img-top border border-success border-1" src="{% static 'imgs/HAALAND.png' %}" alt="Card image cap" style="height: 300px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Erling Haaland</h5>
                <h6 class="card-subtitle mb-2 text-success">8,5/10 <i class="fas fa-star"></i></h6>
                <p class="card-text">Erling Braut Haaland é um futebolista norueguês nascido no Reino Unido que atua como centroavante. Atualmente joga pelo Manchester City e pela Seleção Norueguesa.</p>
                <a href="#" class="btn btn-success">Detalhar</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex justify-content-center">
        <div class="card mt-4" style="width: 20rem;">
            <img class="card-img-top border border-success border-1" src="{% static 'imgs/HAALAND.png' %}" alt="Card image cap" style="height: 300px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Erling Haaland</h5>
                <h6 class="card-subtitle mb-2 text-success">8,5/10 <i class="fas fa-star"></i></h6>
                <p class="card-text">Erling Braut Haaland é um futebolista norueguês nascido no Reino Unido que atua como centroavante. Atualmente joga pelo Manchester City e pela Seleção Norueguesa.</p>
                <a href="#" class="btn btn-success">Detalhar</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex justify-content-center">
        <div class="card mt-4" style="width: 20rem;">
            <img class="card-img-top border border-success border-1" src="{% static 'imgs/HAALAND.png' %}" alt="Card image cap" style="height: 300px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Erling Haaland</h5>
                <h6 class="card-subtitle mb-2 text-success">8,5/10 <i class="fas fa-star"></i></h6>
                <p class="card-text">Erling Braut Haaland é um futebolista norueguês nascido no Reino Unido que atua como centroavante. Atualmente joga pelo Manchester City e pela Seleção Norueguesa.</p>
                <a href="#" class="btn btn-success">Detalhar</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex justify-content-center">
        <div class="card mt-4" style="width: 20rem;">
            <img class="card-img-top border border-success border-1" src="{% static 'imgs/HAALAND.png' %}" alt="Card image cap" style="height: 300px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Erling Haaland</h5>
                <h6 class="card-subtitle mb-2 text-success">8,5/10 <i class="fas fa-star"></i></h6>
                <p class="card-text">Erling Braut Haaland é um futebolista norueguês nascido no Reino Unido que atua como centroavante. Atualmente joga pelo Manchester City e pela Seleção Norueguesa.</p>
                <a href="#" class="btn btn-success">Detalhar</a>
            </div>
        </div>
    </div>  
</div>

{% endblock content %}