{% extends "base.html" %}
{% load static %}
{% block content %}

<h2 class="text-center text-success mt-3">Clubes</h2>
<div class="row justify-content-center mt-4" style="min-height: 540px;">

    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex justify-content-center"> 
        <div class="card mt-4 bg-dark text-white border-success" style="width: 20rem; border: 4px solid #198754;">
            <div class="card-body d-flex justify-content-center align-items-center" style="height: 15rem;">
                <a href="{% url 'add-clube' %}">
                    <i class="fa fa-plus-square text-success fa-8x"></i>
                </a>
            </div>
        </div>
    </div>
    
    
    {%for clube in clubes%}
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex justify-content-center">
        <div class="card mt-4 bg-dark text-white" style="width: 20rem;">
            {% if clube.logo_path %}
                <img class="card-img-top" src="{{ clube.logo_path.url }}" alt="Card image cap"
                    style="height: 300px; object-fit: cover; border-bottom: 2px solid #198754;">
            {% else %}
                    <img class="card-img-top" src="{% static 'imgs/IMAGE_NONE.jpg' %}" alt="Card image cap"
                        style="height: 300px; object-fit: cover; border-bottom: 2px solid #198754;">
            {% endif %}

            <div class="card-body">
                <h5 class="card-title">{{clube.nome}}</h5>
                <h6 class="card-subtitle mb-2 text-success">{{clube.nota_media}}<i class="fas fa-star"></i></h6>
                <p class="card-text">{{ clube.descricao|slice:":180" }}{% if clube.descricao|length > 180 %}...{% endif %}</p>
                <div class="d-flex justify-content-between">
                    <a href="/clube/detail/{{ clube.id }}" class="btn btn-success">Detalhar</a>
                    {% if isGestor %}
                    <a href="/clube/edit/{{ clube.id }}" class="btn btn-success">Editar</a>
                    <form method='POST' action="/clube/delete/{{ clube.id }}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>  
    {% endfor %}         
</div>
{% endblock content %}